1. Read data

In [ ]:
import pandas as pd

train_df = pd.read_csv("../train_test_data/train.csv", encoding="ISO-8859-1")
test_df = pd.read_csv("../train_test_data/test.csv", encoding="ISO-8859-1")

train_df.head()

,textID,text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,neutral,morning,0-20,Afghanistan,38928346.0,652860.0,60.0
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,noon,21-30,Albania,2877797.0,27400.0,105.0
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,night,31-45,Algeria,43851044.0,2381740.0,18.0
3,01082688c6,happy bday!,positive,morning,46-60,Andorra,77265.0,470.0,164.0
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,positive,noon,60-70,Angola,32866272.0,1246700.0,26.0

In [28]:
train_df = train_df[['text', 'sentiment']]
test_df = test_df[['text', 'sentiment']]

train_df.head()

                                                text sentiment
0                I`d have responded, if I were going   neutral
1      Sooo SAD I will miss you here in San Diego!!!  negative
2                          my boss is bullying me...  negative
3                     what interview! leave me alone  negative
4   Sons of ****, why couldn`t they put them on t...  negative

In [32]:
print("Label distribution in train set:")
print(train_df['sentiment'].value_counts())

print("\nLabel distribution in test set:")
print(test_df['sentiment'].value_counts())

Label distribution in train set:
sentiment
neutral     11118
positive     8582
negative     7781
Name: count, dtype: int64

Label distribution in test set:
sentiment
neutral     1430
positive    1103
negative    1001
Name: count, dtype: int64

2. Clean data

In [38]:
import re

def clean_text(text):
    if not isinstance(text, str):
        return ""
    text = text.lower()
    text = re.sub(r"http\S+|www\S+|https\S+", '', text)
    text = re.sub(r'[^a-z\s]', '', text)
    text = re.sub(r'\s+', ' ', text).strip()
    return text

In [ ]:
train_df['clean_text'] = train_df['text'].apply(clean_text)
test_df['clean_text'] = test_df['text'].apply(clean_text)

train_df[['text', 'clean_text']].head()

,text,clean_text
0,"I`d have responded, if I were going",id have responded if i were going
1,Sooo SAD I will miss you here in San Diego!!!,sooo sad i will miss you here in san diego
2,my boss is bullying me...,my boss is bullying me
3,what interview! leave me alone,what interview leave me alone
4,"Sons of ****, why couldn`t they put them on t...",sons of why couldnt they put them on the relea...

3. Converting text to numerical features

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [42]:
# Create a TF-IDF vectorizer
vectorizer = TfidfVectorizer(max_features=5000)


# Fit on training text and transform both train & test
X_train = vectorizer.fit_transform(train_df['clean_text'])
X_test = vectorizer.transform(test_df['clean_text'])

# Target labels
y_train = train_df['sentiment']
y_test = test_df['sentiment']

NameError: name 'TfidfVectorizer' is not defined